
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/UILayout/_HeadPartial.cshtml")

<body>
    @Html.Partial("~/Views/UILayout/_NavbarPartial.cshtml")
    @Html.Partial("~/Views/UILayout/_HeaderPartial.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/UILayout/_FooterPartial.cshtml")
    <a href="#" class="btn btn-primary p-3 back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    @Html.Partial("~/Views/UILayout/_ScriptsPartial.cshtml")
</body>
</html>